/* ---------- CSS RESET ----------- */

/* box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* remove default margin */
body, h1, p {
  margin: 0;
}

/* set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* set image and picture */
img, picture {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
/* ---------- CSS VARIABLE ---------- */

:root {

  /* color sistem */
  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);

  /* typography */
  --ff-poppins: 'Poppins', sans-serif;
  --ff-openSans: 'Open Sans', sans-serif;
  --fw-400: 400;
  --fw-600: 600;
}


body {
  background: var(--clr-violet);
  color: #fff;
  font-family: var(--ff-openSans);
  font-size: 1rem;
}

.header {
  width: 80%;
  margin: 2rem auto;
}

.logo {
 width: 9rem;
}

.bg-svg {
  /* width: 100%; */
  position: absolute;
  top: 0;
  z-index: -1;
} 

.wrapper {
  width: 80%;
  margin: 3.8rem auto;
  text-align: center;
}

.hero__heading {
  font-family: var(--ff-poppins);
  font-size: 1.65rem;
  font-weight: var(--fw-600);
  margin-top: 3rem;
}

.hero__content {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-flex;
  font-family: var(--ff-poppins);
  font-size: .9375rem;
  background: #fff;
  color: var(--clr-violet);
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, .5);
  padding: .65em 3.5em;
  border-radius: 100px;
}

.btn:focus,
.btn:hover {
  background: var(--clr-magenta);
  color: #fff;
  cursor: pointer;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.icons-wrapper svg path:focus,
.icons-wrapper svg path:hover {
  stroke: var(--clr-magenta);
  fill: var(--clr-magenta);
  cursor: pointer;
}

@media (min-width: 43.75em) {
  
  .wrapper {
    width: 90%;
    max-width: 43rem;
  }
  
  .mockups {
    width: 70%;
    margin: 0 auto;
  }

  .hero__heading {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }

  .hero__content {
    /* font-size: 1.2rem; */
    width: 80%;
    margin-inline: auto;
  }

  .icons-wrapper {
    margin-top: 3rem;
  }
}

@media (min-width: 75em) {
  
  .header {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    width: 10rem;
  }

  .wrapper {
    width: 90%;
    max-width: 90rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    column-gap: 3rem;
    text-align: left;
  }

  .mockups {
    width: 100%;
  }

  .hero__heading {
    font-size: 2rem;
    width: 80%;
    margin-top: 4rem;
  }

  .hero__content {

    font-size: .99rem;
    width: 100%;
    margin-inline: 0;
  }

  .icons-wrapper {
    justify-content: flex-end;
    grid-column: 2;
    align-self: end;
  }
}







.attribution { font-size: 12px; text-align: center; }
.attribution a { color: var(--clr-magenta) }